HEAD body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  min-height: 100vh;
}

/* todo el diseño que se le da al contenedor de los botones de los formularios */

#divid01 {
  text-align: center;
  color: #ffff;
  display: block;
  /* este es un kit compatible con todos los navegadores para dar un degrade al fondo, este tiene diferentes valores para asignar desde el "suelo" hasta el "cielo" */
  background: -webkit-gradient(linear, left bottom, left top, from(#BC20D1), to(#2C23D1));
  padding: 16px;
  padding-left: auto;
  padding-right: auto;
  border-radius: 10px;
  margin: auto;
  box-shadow: 10px 15px 22px white;
  /* es una propiedad que sirve para dar un responsive a l objeto que se marca */
  flex-flow: row wrap;
  align-items: center;
  width: 366px;
  height: 334px;
}

/* Diseño de los espacios de ingreso */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

#info, #info2, #info4, #info5 {
  width: 50%;
}

/* todo lo relacionado con el diseño de los containers de los formularios */
.signup-main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 10px;
}

.signup-main #info4, #info5 {
  margin: 5px;
  width: 48%;
}

.signup-main #info, #info3, #info6, #info7 {
  width: 97%;
  margin-left: 5px;
  margin-right: 5px;
}

/* Estilos para todos los botones */

.botones {
  background-color: #57b846;
  color: white;
  padding: 10px 50px;
  margin: 15px;
  border: none;
  cursor: pointer;
  width: 85%;
  border-radius: 10px;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-size: 22px;
}

.botones:hover {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #fbc2eb, #a18cd1);
  opacity: 0.8;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Estilos extra para los botones de cancelar */

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
  margin-top: 7px;
  margin: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* posicionamiento de la imagen del avatar y del boton de cerrar el formulario */

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* El diseño del fono cuando los containers se despliegan, ellos generan una opasidad */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

/* El diseño interno de los containers de formulario */

.modal-content {
  background: -webkit-gradient(linear, left bottom, left top, from(#BC20D1), to(#2C23D1));
  margin: 5% auto 15% auto;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%;
}

/* Diseños extra para el boton de cerrar el container */

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* la animación del zoom de los container */

.animate {
  /* el webkit que da el tiempo de la animación */
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/* la escala a la cual se le hace zoom al container */
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

/* Cambios de diseño extras para el boton de cerrar cuendo este sea responsive */

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media(max-width: 300px) {
  #divid01 {
    margin: auto;
  }
}